import java.util.Scanner;
public class Main {
    public static void main(String[] args) {

        Scanner sc = new Scanner(System.in);
        Produto p = new Produto();

        System.out.print("Digite codigo de produto ");
        p.setCodigo(sc.nextInt());
        System.out.print("Digite nome do produto: ");
        p.setNome(sc.next());
        System.out.print("Digite a quantidade do produto: " );
        p.setQuantidade(sc.nextInt());

        System.out.println("o codigo do produto é: "+p.getCodigo() );
        System.out.println("o nome do produto é: "+p.getNome() );
        System.out.println("a qtde do produto é: "+p.getQuantidade() );

        System.out.println("Escolha um número entre 0 (para encerrar) e 1(Venda)");
        int numero = sc.nextInt();
        switch (numero) {
            case 0:
                System.out.print("Encerrando o programa:");
                break;
            case 1:
                System.out.print("Quantos você deseja vender: ");
                int qtde = sc.nextInt();
                p.venda(qtde);
                System.out.println(p.getQuantidade());


                }
            }
        }



public class Produto {
    private String nome;
    private int codigo, quantidade;

    public String getNome() {
        return nome;
    }

    public void setCodigo(int codigoTeclado) {
        this.codigo = codigoTeclado;
    }

    public int getQuantidade() {
        return quantidade;
    }

    public void setQuantidade(int quantidade) {
        this.quantidade = quantidade;
    }

    public int getCodigo(){
        return codigo;
    }

    public void setNome(String nome) {
        this.nome = nome;
    }

    public void getProduto(){
        this.getProduto();
    }

    public void venda(int qtde) {
        quantidade = quantidade-qtde;
    }


}
